/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: sans-serif;
}
nav {
  background-color: aquamarine;
  color: black;
  display: flex;
  height: 3em;
}
nav > a {
  margin: auto;
  padding: 0.5em;
}
nav > a:hover {
  background: mediumaquamarine;
}
main {
  max-width: 600px;
  margin: auto;
  border-left: grey solid 1px;
  border-right: grey solid 1px;
  min-height: calc(100vh - 3em);
  box-sizing: border-box;
  padding: 1em;
}

.error {
  background: rgb(255, 232, 236);
  color: rgb(117, 0, 0);
  border: rgb(117, 0, 0) solid 1px;
}
