<h1>create a patient</h1>

<form method="POST" action="/patients">
    <input type="text" name="patient[name]" placeholder="Name" />
    <input type="date" name="patient[dob]" placeholder="Date of birth" />
    <input type="email" name="patient[email]" placeholder="Email" />
    <input type="submit" />
</form>